/*
* Name: Internet Speed Monitor
* Description: A Gnome extension to Monitor Internet Speed and
               Daily Data Usage in an elegant and minimal fashion.
* Author: Rishu Raj
* GitHub: https://github.com/rishuinfinity/InternetSpeedMonitor
* License: GPLv3.0
*/

.netSpeedLabel {
  /* min-width: 105px; */
  padding: 0 5px 0 5px;
  text-align: left;
}
